/* https://flatuicolors.com/palette/us */

.filterheader {
  background-color: #74b9ff;
  margin: 0 0 5px 0;
  padding: 5px 5px 5px 15px;
}

.checkboxfilter {
  margin: 2px 0px 2px 0px;
  display: block;
}

.data {
  text-align: left;
  width: 100%;
}

.datarow,
.datarowheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px #2d3436 solid;
  padding: 0;
  margin: 0;
}

.datarowheader {
  position: sticky;
  top: 0;
  background: #74b9ff;
  font-weight: bold;
  border-top: 1px #2d3436 solid;
}

.datarow:hover {
  font-weight: bold;
  cursor: pointer;
}

.datarow > div,
.datarowheader > div {
  flex-grow: 1;
  width: 33%;
  border-left: 1px #2d3436 solid;
  padding: 3px;
  margin: 0px;
  word-wrap: break-word;
}

.datarow > div:last-of-type,
.datarowheader > div:last-of-type {
  border-right: 1px #2d3436 solid;
}

.datajson {
  border-left: 1px #2d3436 solid;
  border-right: 1px #2d3436 solid;
  border-bottom: 1px #2d3436 solid;
  padding: 15px;
}

.filterColumn {
  margin-right: 15px;
  background-color: #b2bec3;
}

.filterColumn > div {
  padding-bottom: 5px;
}

.filterColumn > div > *:not(h3) {
  text-align: left;
  margin-left: 15px;
  padding-right: 5px;
}

.tsFilterInput {
  padding: 5px;
  width: 130px;
}

.filterheader > span {
  vertical-align: bottom;
  font-size: 12px;
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.filterheader > span:hover {
  text-decoration: underline;
}
